@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");


body {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.movie-list {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.overlay {
  position: absolute;
  background: rgba(0,0,0,0.8);
  color: #fff;
  width: 100%;
  transition: 0.5s;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.image-container:hover .overlay {
  opacity: 1;
}
.image-container {
  position: relative;
  transition: transform 0.2s;
}
.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.fa-heart {
  color: red;
}

